<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proyecto 2 IF-7103</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/bootstrap4/bootstrap.min.css")">
    <link href="@Url.Content("~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/OwlCarousel2-2.2.1/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/main_styles.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles/responsive.css")">
</head>

<body>

    <div class="super_container">

        <div class="menu trans_500">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <div class="menu_close_container"><div class="menu_close"></div></div>
                <div class="logo menu_logo"><a href="#"><img src="@Url.Content("~/Content/images/logo.png")" alt=""></a></div>
                <ul>
                    <li class="menu_item"><a href="#">home</a></li>
                    <li class="menu_item"><a href="about.html">about us</a></li>
                    <li class="menu_item"><a href="offers.html">offers</a></li>
                    <li class="menu_item"><a href="blog.html">news</a></li>
                    <li class="menu_item"><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </div>

        <!-- Home -->
        <div class="home">

            <!-- Home Slider -->

            <div class="home_slider_container">

                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <!-- Image by https://unsplash.com/anikindimitry -->
                        <div class="home_slider_background" style="background-image:url('@Url.Content("~/Content/images/home_slider.jpg")'')"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                                <h1>Touring</h1>
                                <h1>the world</h1>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Search -->

        <div class="search">


            <!-- Search Contents -->

            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col fill_height">

                        <!-- Search Tabs -->

                        <div class="search_tabs_container">
                            <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="@Url.Content("~/Content/images/suitcase.png")" alt=""><span>@Html.ActionLink("Home", "index", "Home")</span></div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="@Url.Content("~/Content/images/bus.png")" alt="">Listados</div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="@Url.Content("~/Content/images/search_1.png")" alt="">@Html.ActionLink("Búsqueda", "Search", "Search")</div>
                                <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="@Url.Content("~/Content/images/island.png")" alt="">Listados personalizados</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--
            Contenido aquí    
        -->

        @RenderSection("body", false)
        @RenderBody()
        <!--
            Fin de contenido aquí
        -->


        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2  ">
                        <div class="copyright_content d-flex flex-row align-items-center">
                            <div>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                            <div class="footer_nav">
                                <ul class="footer_nav_list">
                                    <li class="footer_nav_item"><a href="#">home</a></li>
                                    <li class="footer_nav_item"><a href="about.html">about us</a></li>
                                    <li class="footer_nav_item"><a href="offers.html">offers</a></li>
                                    <li class="footer_nav_item"><a href="blog.html">news</a></li>
                                    <li class="footer_nav_item"><a href="contact.html">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="@Url.Content("~/Content/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/styles/bootstrap4/popper.js")"></script>
    <script src="@Url.Content("~/Content/styles/bootstrap4/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Content/plugins/easing/easing.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>

</body>

</html>